body {
  background-color: #f8f9fa;
}

.text-center {
  text-align: center;
  margin: auto;
}

@media (min-width: 48em) {
  footer {
    display: none;
  }
}

@media (max-width: 48em) {
  .page-container {
    padding: 40px 30px;
  }

  footer {
    display: block;
    background-color: #aaa;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}